
@import './utils/variables';
@import './components/header';
@import './components/logo';
@import './components/navigation';
@import './components/contact';
@import './components/banner';
@import './components/paragraphs';
@import './components/work';
@import './components/team';
@import './components/customers';
@import './components/footer';
@import './components/address';
@import './components/newsletter';
@import './components/socials';
@import './components/modal';
@import './components/inputs';
@import './components/checkbox';
@import './components/portfolio-buttons';
@import './components/portfolio';
@import './components/product';

