.logo {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.03em;

  & {
    @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.19;
    }
  }
  &__text--dark {
    color: var(--secondary-black);
    @media screen and (max-width: $tablet) {
      padding: 16px 0;
    }
  }
  &__text--light {
    color: var(--secondary-color);
  }

  &__text--accent {
    color: var(--blue-color);
  }
}

// .logo {
//   font-family: "Raleway";
//   font-size: 26px;
//   font-weight: 700;
//   line-height: 1.19;
//   text-decoration: none;
//   letter-spacing: 0.03em;
// &__text--dark {
//   color: var(--secondary-black);
// }
// &__text--light {
//   color: var(--secondary-color);
// }

// &__text--accent {
//   color: var(--blue-color);
// }

// }
