.navigation {
  margin-left: 93px;
  /* flex-grow: 2; */
  &__menu {
    display: flex;
    /* figma project indicates gap between nav elements = 46px  */
    gap: 46px;
  }

  
  &__item--link {
      color: var(--primary-black);
      font-size: 16px;
      font-weight: 500;
      line-height: 1.14;
      text-decoration: none;
      letter-spacing: 0.02em;
      padding: 32px 0;
      display: block;
      position: relative;
      bottom: 0;
      transition-property: color, box-shadow;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__item--link:hover,
    &__item--link:focus {
      color: var(--blue-color);
      outline: none;
    }

  &__item {
    position: relative;
  }

  &__item:hover::after,
  &__item:focus-within::after {
    background-color: var(--blue-color);
    z-index: 1;
  }

  &__item::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }

  &__item--agency::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--blue-color);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__item--portfolio::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--blue-color);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
