.newsletter {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 20px;
  /* padding-top: 12px; */
  margin-left: auto;

  &__title {
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    text-transform: uppercase;
  }

  &__style {
    display: flex;
    gap: 12px;
  }

  &__input {
    width: 358px;
    height: 50px;
    color: var(--secondary-color);
    background-color: var(--dark-color);

    border: 1px solid var(--lighter-dark-grey-color);
    border-radius: 4px;
    padding-left: 16px;
    box-shadow: 0 4px 4px 0 var(--grey-0-15);
    transition-property: border-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
      color: var(--semi-white-color);
    }

    &:hover,
    &:focus-within {
      border-color: var(--blue-color);
      outline: var(--blue-color);
      box-shadow: 0 0 0 0 var(--blue-color);
    }
  }
  &__button {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 188px;
    letter-spacing: 0.06em;
    border-radius: 4px;
    background-color: var(--blue-color);
    color: var(--secondary-color);
    cursor: pointer;
    box-shadow: 0 4px 4px 0 var(--grey-0-15);
    border: none;
    /* padding: 10px 28px 42px 10px; */
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: var(--white-color);
      color: var(--blue-color);
    }

    &--icon {
      --color1: var(--secondary-color);
      transition-property: --color1;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover &--icon {
      --color1: var(--blue-color);
    }

    &:focus-visible {
      outline: none;
      background-color: var(--white-color);
      color: var(--blue-color);
    }
  }
}
