.team {
  background-color: var(--white-color);
  @media screen and (min-width: 1200px) {
    padding: 60px 0;
  }

  &__style {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
    @media screen and (min-width: 1200px) {
      gap: 50px;
    }
  }

  &__members {
    /* width: 1170px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  &__item {
    // max-width: 450px;
    margin: 0;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--secondary-color);

    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  // proba wstawienia img
  &_photo {
    display: block;

    &--product-designer {
      background-image: url(../images/banner_img_480x400px@2x.webp);
    }
  }
  // koniec próby

  &__member {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0;
    width: auto;

    @media screen and (min-width: 480px) {
      padding: 30px 122px;
      padding-bottom: 24px;
    }
    @media screen and (min-width: 768px) {
      padding: 30px 74px;
      padding-bottom: 24px;
    }
    @media screen and (min-width: 768px) {
      padding: 30px 32px;
      padding-bottom: 30px;
    }
  }

  &__name {
    color: var(--primary-black);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  &__status {
    color: inherit;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

// .team {
//   background-color: var(--white-color);

//   &__style {
//     display: flex;
//     flex-direction: column;
//     gap: 50px;
//     text-align: center;
//     align-items: center;
//   }

//   &__item {
//     margin: 0;
//     box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
//       0 1px 3px 0 rgba(0, 0, 0, 0.12);
//     border-radius: 0px 0px 4px 4px;
//     background-color: var(--secondary-color);
//   }

//   &__members {
//     /* width: 1170px; */
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     gap: 30px;
//   }

//   &__member {
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//     padding: 30px 0;
//   }

//   &__name {
//     color: var(--primary-black);
//     font-size: 16px;
//     font-weight: 500;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
//   }
//   &__status {
//     color: inherit;
//     font-size: 16px;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
//   }
// }
