.team {
  background-color: var(--white-color);
  @media screen and (max-width: 1199px) {
    padding: 60px 0;
  }

  &__style {
    text-align: center;
  }

  &__title {
    padding-bottom: 30px;
    @media screen and (min-width: $computer) {
      padding-bottom: 50px;
      text-align: center;
    }
  }

  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  &__item {
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--secondary-color);
  }

  &__member {
    @media screen and (max-width: $computer) {
      padding: 30px 0px;
      padding-bottom: 24px;
    }
    @media screen and (min-width: $computer) {
      padding: 30px 32px;
      padding-bottom: 30px;
    }
  }

  &__name {
    color: var(--primary-black);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  &__status {
    color: inherit;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-top: 10px;
  }
}

// .team {
//   background-color: var(--white-color);

//   &__style {
//     display: flex;
//     flex-direction: column;
//     gap: 50px;
//     text-align: center;
//     align-items: center;
//   }

//   &__item {
//     margin: 0;
//     box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
//       0 1px 3px 0 rgba(0, 0, 0, 0.12);
//     border-radius: 0px 0px 4px 4px;
//     background-color: var(--secondary-color);
//   }

//   &__members {
//     /* width: 1170px; */
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     gap: 30px;
//   }

//   &__member {
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//     padding: 30px 0;
//   }

//   &__name {
//     color: var(--primary-black);
//     font-size: 16px;
//     font-weight: 500;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
//   }
//   &__status {
//     color: inherit;
//     font-size: 16px;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
//   }
// }
