.work {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  align-items: center;
  padding-top: 0;

  &__list {
    /* width: 1200px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  &__photo {
    display: block;
  }

  &__item {
    position: relative;
  }
  &__title {
    text-transform: uppercase;
    background-color: var(--third-dark);
    font-weight: 700;
    color: var(--secondary-color);
    font-size: 14px;
    line-height: 1.14;
    /* letter-spacing: 0.03em; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
  }
}
