:root {
  --secondary-black: rgba(0, 0, 0, 1);

  --third-black: rgba(33, 33, 33, 0.2);
  --primary-black: rgba(33, 33, 33, 1);

  --second-blue-color: rgba(33, 150, 243, 0);
  --blue-color: rgba(33, 150, 243, 1);
  --second-dark: rgba(47, 48, 58, 0.4);
  --third-dark: rgba(47, 48, 58, 0.8);
  --dark-color: rgba(47, 48, 58, 1);

  --primary-half-color: rgba(117, 117, 117, 0.5);
  --primary-color: rgba(117, 117, 117, 1);
  --secondary-grey: rgba(175, 177, 184, 1);
  --header-background-color: rgba(236, 236, 236, 1);
  --grey-color: rgba(238, 238, 238, 1);
  --white-color: rgba(245, 244, 250, 1);
  --dark-grey-color: rgba(255, 255, 255, 0.1);
  --lighter-dark-grey-color: rgba(255, 255, 255, 0.3);

  --semi-white-color: rgba(255, 255, 255, 0.6);
  --secondary-color: rgba(255, 255, 255, 1);


  --grey-0-06: rgba(0, 0, 0, 0.06);
  --grey-0-02: rgba(0, 0, 0, 0.2);
  --grey-0-01: rgba(0, 0, 0, 0.01);
  --grey-0-08: rgba(0, 0, 0, 0.08);
  --grey-0-10: rgba(0, 0, 0, 0.1);
  --grey-0-12: rgba(0, 0, 0, 0.12);
  --grey-0-14: rgba(0, 0, 0, 0.14);
  --grey-0-15: rgba(0, 0, 0, 0.15);
  --grey-0-16: rgba(0, 0, 0, 0.16);
  --grey-0-15: rgba(0, 0, 0, 0.15);
  --grey-0-15: rgba(0, 0, 0, 0.15);
  --grey-0-20: rgba(0, 0, 0, 0.2);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--grey-0-02);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}


  *,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  /* width: 1600px; */
  /* margin: auto; */
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
  /* margin-left: 215px; */
}

.section {
  /* width: 1170px; */

  padding: 94px 0;
}

.section__title {
  color: var(--primary-black);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}